.subscribeButton {
  width: 260px;
  max-width: 260px;
  border: none;
  display: block;
  line-height: 4rem;
  border-radius: 4rem;
  background-color: var(--yellow-500);
  font-size: 1.2rem;
  font-weight: bold;
 
  transition: filter .2s;


  &:hover{
    filter: brightness(.8)
  }
}